/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
footer{
display: grid;
grid-template: repeat(2, min-content)/repeat(4, 1fr);
gap: 5%;
padding: 3% 5%;
background-color: black;
} */


#license {
grid-area: 3/2/4/4;
text-align: center;
}


@media (max-width: 600px) {
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 5% 0;
  padding: 5% 3%;
}
}