

*::before,
*::after {
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  scroll-behavior: smooth;
}



@media (max-width: 1000px) {
  html {
    font-size: 100px;
  }

}

h1 {
  font-size: 10px;
  color: black;
}
p {
  color: white;
  font-size: 20px;
}
.test {
  color: black;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px; 
  font-weight: 400;
  line-height: 1.4;
  color: black;
}






ul {
  list-style: none;

}

.home,
.neurodiversity,
.resources,
.contact-us,
.autism,
.dyslexia,
.bipolar,
.tourette,
.adhd,
.face,
.voicetotext {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-image: url('./components/images/img-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: orange;
  /* font-size: 40px;
  text-align: center; */
}

.neurodiversity {
  background-image: url('./components/images/nd.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  size: 200px;
  /* font-size: 100px; */
}

.resources {
  background-image: url('./components/images/nd.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  /* font-size: 100px; */
}

.contact-us {
  background-image: url('./components/images/img-4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  /* font-size: 100px; */
}


.autism {
  background-image: url('./components/images/img-6.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: brown;
  
  /* font-size: 100px; */
}

.bipolar {
  background-image: url('./components/images/bipolar.JPG');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* font-size: 100px; */
}
.tourette {
  background-image: url('./components/images/TS.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* font-size: 100px; */
}


.dyslexia {
  background-image: url('./components/images/Dyslexia-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

 
}

.adhd {
  background-image: url('./components/images/adhd.gif');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
 
}

.voicetotext {
  background-image: url('./components/images/adhd.gif');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  /* font-size: 100px; */
}

.face {
  background-image: url('./components/images/adhd.gif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  /* font-size: 100px; */
}


.speechapp {
  background-image: url('./components/images/adhd.gif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  /* font-size: 100px; */
}


.Contact
{
display: flex;
justify-content: center;
margin: 200px;
width: 600px;
height: 2000px;
}

.ContentWrapper, input

{
display: flex;
justify-content: center;
height: 50px;

}
#proofreader {
  width: 860px;
height: 200px;
}
main {
  display: block;
  justify-content: initial;
}
button {
  margin-left: 100px;
  color: black;
}

.res {
display: flex;
justify-self: center;
align-content: centerS;
color: white;
font-size: 20px

}
.box {

  color: black;
  background-color: white;
}

